* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

*::-webkit-scrollbar {
    height: 3px;
    border-radius: 5px;
    background-color: #ddd;
    justify-content: center;
}

*::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 10px;
}
/* Style sheet */

.nav-bar {
    background-color: rgb(37, 38, 51);
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
    border-radius: 0px 0px 10px 10px;
    position: fixed;
    left: 60px;
    right: 60px;
    z-index: 8;
    min-width: max-content;
}

@media screen and (max-width: 660px) {
    .nav-bar {
        left: 0px;
        right: 0px;
        border-radius: 0px;
    }
}

.title {
    color: rgba(232, 240, 240, 1);
    padding: 20px;
    font-weight: 700;
    font-size: 25px;
}

@media screen and (max-width: 660px) {
    .title {
        color: rgba(232, 240, 240, 1);
        padding: 20px;
        font-weight: 700;
        font-size: 15px;
    }
}

.service-request {
    color: rgba(232, 240, 240, 1);
    background-color: rgba(232, 240, 255, 0.3);
    padding: 5px 10px 5px 10px;
    margin: 15px 20px 15px 10px;
    border-radius: 10px;
    font-size: 25px;
}

@media screen and (max-width: 660px) {
    .service-request {
        color: rgba(232, 240, 240, 1);
        padding: 5px 10px 5px 10px;
        margin: 15px 20px 15px 10px;
        font-weight: 700;
        font-size: 15px;
    }
}

.service-request:hover {
    background-color: rgba(232, 240, 240, 0.5);
    color: black;
    transform: scale(1.08);
}

.req-ser-link {
    color: rgba(232, 240, 240, 1);
}

.logo {
    max-width: 95px;
    max-height: 60px;
    margin-right: 10px;
}

@media screen and (max-width: 660px) {
    .logo {
        padding-top: 5px;
        max-width: 65px;
        max-height: 40px;
        margin-right: 10px;
    }
}

/* Body */
.splash-screen {
    width: 100%;
    aspect-ratio: 16/9;
    min-height: 100px;
    max-height: 750px;
    position:relative;
    background: 
    linear-gradient(to right, hsl(240, 20%, 5%) 5%, hsla(240, 20%, 5%, 0) 30%), 
    linear-gradient(to top, hsl(240, 20%, 5%) 5%, hsla(240, 20%, 5%, 0) 10%), 
    linear-gradient(to left, hsl(240, 20%, 5%) 5%, hsla(240, 20%, 5%, 0) 30%), 
    linear-gradient(to bottom, hsl(240, 20%, 5%) 5%, hsla(240, 20%, 5%, 0) 30%),
    url('/images/vcapcamerawalkanim.gif') no-repeat center center / cover;
}

/* hsl(240, 20%, 5%) 12%, hsla(240, 20%, 5%, 0) 50% */

.service-request-WP {
    color: rgba(232, 240, 240, 1);
    height: fit-content;
    width: fit-content;
    justify-content: center;
    background-color: rgba(232, 240, 255, 0.3);
    padding: 5px 10px 5px 10px;
    margin-top: 5px;
    border-radius: 10px;
    font-size: 25px;
    margin: auto;
}

.service-request-WP:hover {
    background-color: rgba(232, 240, 240, 0.5);
    color: black;
    transform: scale(1.08);
}

.req-ser-link-WP {
    color: rgba(232, 240, 240, 1);
}


#wrapper {
    padding-left:60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: hsl(240, 20%, 5%);
    /*overflow-x: hidden;*/
}

.spacer {
    height: 70px;
    background-color: hsl(240, 20%, 5%);
}

.wrapper-txt {
    color: white;
    font-size: 20px;
    text-align: center;
    text-wrap: balance;
}

@media screen and (max-width: 660px) {
    .wrapper-txt {
        font-size: 12px;
    }
}

@media screen and (min-width: 1980px) {
    .wrapper-txt {
        font-size: 25px;
    }
}

.wrapper-txt-box {
    border-color: #FFF;
    border: 2px solid rgb(255, 255, 255);
    max-width: 100%;
    min-width: fit-content;
    padding: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    /* background: linear-gradient(to bottom, hsl(240, 42%, 27%) 25%, hsl(240, 20%, 5%) 100%); */
    background: hsl(240, 18%, 31%)
}

/* Container for column boxes */

.wrapper-txt-box-column-container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.wrapper-txt-box-column-right {
    border-color: #FFF;
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    /* background: linear-gradient(to right, hsl(240, 42%, 27%) 25%, hsl(240, 20%, 5%) 100%); */
    background: hsl(240, 18%, 31%)
}

.wrapper-txt-box-column-left {
    border-color: #FFF;
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    /* background: linear-gradient(to left, hsl(240, 42%, 27%) 25%, hsl(240, 20%, 5%) 100%); */
    background: hsl(240, 18%, 31%)
}
.txt-title {
    color: hsl(54, 79%, 64%);
    font-size: 30px;
    padding-bottom: 10px;
    font-weight: 1000;
}

.text-img {
    display: block;
    margin: auto;
}

/* Footer elements */

.footer-txt {
    color: white;
    font-size: 20px;
    text-align: center;
    text-wrap: balance;
}

@media screen and (max-width: 660px) {
    .footer-txt {
        font-size: 12px;
    }
}

@media screen and (min-width: 1980px) {
    .footer-txt {
        font-size: 25px;
    }
}

.footer-txt-box {
    border-color: #FFF;
    border: 2px solid rgb(255, 255, 255);
    max-width: 100%;
    min-width: fit-content;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    padding:20px;
    background-color: black;
}

/* CSS for hamburger menu */
.menuItem {
    display: block;
    margin: 2rem 4rem;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
}
  
.menuItem:hover {
    text-decoration: underline;
}

.hamburger {
    position: fixed;
    z-index: 8;
    top: 15px;
    right: 5rem;
    padding: 4px;
    border: black solid 1px;
    background: white;
    cursor: pointer;
}

.closeIcon {
    display: none;
}

.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 60;
    right: 0;
    bottom: 0;
    margin-right: 60px;
    z-index: 3;
    background: black;
    color: white;
    list-style: none;
    padding-top: 4rem;
}

.showMenu {
    transform: translateY(0);
    z-index: 3;
}


/* Search CSS */

.search-button {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    margin-right: 5px;
    margin-top: 5px;
}

.search-input {
    background-color: rgb(37, 38, 51);
    border-radius: 5px;
    color: white;
    border: 1px solid white;
    padding: 7px;
    margin-top: 14px;
    margin-bottom: 14px;
    width: 375px;
}

.search-input:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

::placeholder {
    color: white;
}

.search-symbol {
    height: 30px;
    width: 30px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(63deg) brightness(107%) contrast(103%);
}

#youtube-search {
    display: flex;
    margin-right: 65px;
}

@media screen and (max-width: 830px) {
    .search-input {
        width: 250px;
    }
}

@media screen and (max-width: 690px) {
    .search-input {
        width: 150px;
    }
}

@media screen and (max-width: 400px) {
    .search-input {
        width: 45px;
    }
}

@media screen and (max-width: 660px) {
    .hamburger {
        right: 1rem;
        top: 12px;
    }
    .menu {
        margin-right: 0px;
    }
}

@media screen and (max-width: 308px) {
    .search-symbol {
        display: none;
    }
}