* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

*::-webkit-scrollbar {
    height: 3px;
    border-radius: 5px;
    background-color: #ddd;
    justify-content: center;
}

*::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 10px;
}


/* Style sheet */

.nav-bar {
    background-color: rgb(37, 38, 51);
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
    border-radius: 0px 0px 10px 10px;
    position: fixed;
    left: 60px;
    right: 60px;
    z-index: 5;
    min-width: max-content;
}

@media screen and (max-width: 660px) {
    .nav-bar {
        left: 0px;
        right: 0px;
        border-radius: 0px;
    }
}

.title {
    color: rgba(232, 240, 240, 1);
    padding: 20px;
    font-weight: 700;
    font-size: 25px;
}

@media screen and (max-width: 660px) {
    .title {
        color: rgba(232, 240, 240, 1);
        padding: 20px;
        font-weight: 700;
        font-size: 15px;
    }
}

.livestream {
    display: flex;
    justify-content: center;
    width: 100%;
    aspect-ratio: 16/9;
    max-height: 710px;
    background-color: hsl(240, 20%, 5%);
}

h2 {
    color: white;
    background-color: hsl(240, 20%, 5%);
    font-size: 40px;
    text-align: center;
    margin-top: 20%;
    overflow: hidden;
}

@media screen and (max-width: 1000px) {
    h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 660px) {
    h2 {
        font-size: 20px;
    }
}

.yt-live {
    aspect-ratio: 16 / 9;
    height: auto;
    min-width: 300px;
    min-height: 169px;
    border-radius: 15px;
    flex-grow: 3;
    flex-shrink: .3;
    cursor: pointer; 
    border: 2px solid rgba(0, 0, 0, 0);
    margin-top: 75px;
    margin-bottom: 15px;
}

.yt-live:hover {
    border: 2px solid rgb(255, 255, 255);
}

.scroll-bar{
    overflow-y: 400px;
}

/* Body */
#wrapper {
    padding-left:60px;
    padding-right: 60px;
    
    /* extends the size of the body when out of api credits */
    padding-bottom: 60px;

    padding-top: 4px;
    background-color: hsl(240, 20%, 5%);
}

.yt-livestreams {
    width: 100%;
    background-color: hsl(240, 20%, 5%);
}

.yt-livestreams-button {
    color: white;
    background-color: rgba(232, 240, 255, 0.3);
    padding: 5px 10px 5px 10px;
    margin: 15px 20px 15px 10px;
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
}

.yt-livestreams-button:hover {
    background-color: rgba(232, 240, 240, 0.5);
    color: black;
    transform: scale(1.08);
}

.recent-videos {
    color: #FFF;
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 15px;
    margin-top: 10px;
}

@media screen and (max-width: 660px) {
    .recent-videos {
        font-size: 20px;
    }
}

.yt-video-section {
    overflow:hidden;
    display: flex;
    justify-content: space-between;
    height: auto;
    width: auto;
    gap: 30px;
    overflow-x: scroll;
}

.yt-video-section::-webkit-scrollbar {
    height: 3px;
    border-radius: 5px;
    background-color: #ddd;
    justify-content: center;
}

.yt-video-section::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 10px;
}

@media screen {
    .yt-video-section:hover::-webkit-scrollbar {
        min-height: 12px;
    }
}



@media screen and (min-width: 1110px) {
    .yt-video-section::-webkit-scrollbar {
        display: none;
    }
}

.yt-video {
    aspect-ratio: 16 / 9;
    height: auto;
    min-width: 300px;
    min-height: 169px;
    border-radius: 15px;
    flex-grow: 3;
    flex-shrink: .3;
    cursor: pointer; 
    border: 2px solid rgba(0, 0, 0, 0);
}

.yt-video:hover {
    border: 2px solid rgb(255, 255, 255);
}

.footer {
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top:20px;
    padding-bottom: 30px;
    background-color: black;
    z-index: 9;
}

/* CSS for hamburger menu */
.menuItem {
    display: block;
    margin: 2rem 4rem;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
  }
  
  .menuItem:hover {
    text-decoration: underline;
  }
  
  .hamburger {
    position: fixed;
    z-index: 8;
    top: 15px;
    right: 5rem;
    padding: 4px;
    border: black solid 1px;
    background: white;
    cursor: pointer;
  }
  
  .closeIcon {
    display: none;
  }
  
  .menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 60;
    right: 0;
    bottom: 0;
    margin-right: 60px;
    z-index: 3;
    background: black;
    color: white;
    list-style: none;
    padding-top: 4rem;
  }
  
  .showMenu {
    transform: translateY(0);
    z-index: 3;
  }

/* Search CSS */

.search-button {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    margin-right: 5px;
    margin-top: 5px;
}

.search-input {
    background-color: rgb(37, 38, 51);
    border-radius: 5px;
    color: white;
    border: 1px solid white;
    padding: 7px;
    margin-top: 14px;
    margin-bottom: 14px;
    width: 375px;
}

.search-input:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

::placeholder {
    color: white;
}

.search-symbol {
    height: 30px;
    width: 30px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(63deg) brightness(107%) contrast(103%);
}

#youtube-search {
    display: flex;
    margin-right: 65px;
}

@media screen and (max-width: 830px) {
    .search-input {
        width: 250px;
    }
}

@media screen and (max-width: 690px) {
    .search-input {
        width: 150px;
    }
}

@media screen and (max-width: 400px) {
    .search-input {
        width: 45px;
    }
}

@media screen and (max-width: 660px) {
    .hamburger {
        right: 1rem;
        top: 12px;
    }
    .menu {
        margin-right: 0px;
    }
}

@media screen and (max-width: 308px) {
    .search-symbol {
        display: none;
    }
}