* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

/* Style sheet */

.nav-bar {
    background-color: rgb(37, 38, 51);
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
    border-radius: 0px 0px 10px 10px;
    position: fixed;
    left: 60px;
    right: 60px;
    z-index: 10;
    min-width: max-content;
}

@media screen and (max-width: 660px) {
    .nav-bar {
        left: 0px;
        right: 0px;
        border-radius: 0px;
    }
}

.title {
    color: rgba(232, 240, 240, 1);
    padding: 20px;
    font-weight: 700;
    font-size: 25px;
}

@media screen and (max-width: 660px) {
    .title {
        color: rgba(232, 240, 240, 1);
        padding: 20px;
        font-weight: 700;
        font-size: 15px;
    }
}

.service-request {
    color: rgba(232, 240, 240, 1);
    background-color: rgba(232, 240, 255, 0.3);
    padding: 5px 10px 5px 10px;
    margin: 15px 20px 15px 10px;
    border-radius: 10px;
    font-size: 25px;
}

@media screen and (max-width: 660px) {
    .service-request {
        color: rgba(232, 240, 240, 1);
        padding: 5px 10px 5px 10px;
        margin: 15px 20px 15px 10px;
        font-weight: 700;
        font-size: 15px;
    }
}

.service-request:hover {
    background-color: rgba(232, 240, 240, 0.5);
    color: black;
    transform: scale(1.08);
}

.req-ser-link {
    color: rgba(232, 240, 240, 1);
}

.logo {
    max-width: 95px;
    max-height: 60px;
    margin-right: 10px;
}

@media screen and (max-width: 660px) {
    .logo {
        padding-top: 5px;
        max-width: 65px;
        max-height: 40px;
        margin-right: 10px;
    }
}

.scroll-bar{
    overflow-y: 400px;
}

/* Body */
#wrapper {
    padding-left:60px;
    padding-right: 60px;
    padding-top: 4px;
    background-color: hsl(240, 20%, 5%);
    height: 1000px;
}

.yt-video-section {
    overflow:hidden;
    display: flex;
    justify-content: space-between;
    height: auto;
    width: auto;
    gap: 30px;
    overflow-x: scroll;
}

.yt-video-section::-webkit-scrollbar {
    height: 3px;
    border-radius: 5px;
    background-color: #ddd;
    justify-content: center;
}

.yt-video-section::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 10px;
}

@media screen {
    .yt-video-section:hover::-webkit-scrollbar {
        min-height: 12px;
    }
}



@media screen and (min-width: 1110px) {
    .yt-video-section::-webkit-scrollbar {
        display: none;
    }
}

.yt-video {
    aspect-ratio: 16 / 9;
    height: auto;
    min-width: 300px;
    min-height: 169px;
    border-radius: 15px;
    flex-grow: 3;
    flex-shrink: .3;
    cursor: pointer; 
    border: 2px solid rgba(0, 0, 0, 0);
}

.yt-video:hover {
    border: 2px solid rgb(255, 255, 255);
}

.loader-box {
    display: grid;
    place-items: center;
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 300px;
    background: #333;
    border-radius: 15px;
    overflow: hidden;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: flex;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
