/* 
CSS Reset 
------------------------------------------------------------------------
The idea is to reset the default styling set by individual browsers, 
establishing a default display on all browsers and allowing us to work 
from complete scratch rather than fighting with the defaults.
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    overflow: hidden;
}

/* Style sheet */

body {
    width: 100%;
    height: auto;
    display: inline-block;
    background: center linear-gradient(90deg, hsl(240, 20%, 25%) -90%, hsl(240, 20%, 5%) 49%, hsl(240, 20%, 25%) 190%);
    overflow-y: scroll;
}

#wrapper {
    padding: 0px 20px 20px 20px;
    margin: auto
}

.DivToScroll{   
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #3B3C3E;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 10px 7px 5px;
}

.nav-bar {
    background-color: rgb(37, 38, 51);
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-radius: 0px 0px 10px 10px;
}

.title {
    color: rgba(232, 240, 240, 1);
    padding: 20px;
    font-size: 25px;
}

.service-request {
    color: rgba(232, 240, 240, 1);
    background-color: rgba(232, 240, 255, 0.3);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.service-request:hover {
    background-color: rgba(232, 240, 240, 0.5);
}

a {
    color: rgba(232, 240, 240, 1)
}

.logo {
    max-width: 95px;
    max-height: 60px;
    min-width: 95px;
    min-height: 60px;
  }

.spacer {
    margin-left: 10px;
    margin-right: 10px;
}

/* Major Thumbnails */
.thumbnailMajor {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: auto;
}

.thumbnailMajor-box {
    background-color: rgba(255, 255, 255, 0.4);
    aspect-ratio: 16 / 9;
    margin: 10px 0px 10px 0px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    flex-grow: 3;
    flex-shrink: .3;
    min-width: 300px;
    min-height: 169px;
}

.major-thumbnail {
   min-width: 300px;
   min-height: 169px;
   aspect-ratio: 16 / 9;
   height: auto;
   width: 100%;
}

/* Minor Thumbnails */
.thumbnailMinor {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: auto;
}

.thumbnailMinor-box {
    background-color: rgba(255, 255, 255, 0.4);
    aspect-ratio: 16 / 9;
    margin: 10px 0px 10px 0px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    flex-grow: 3;
    flex-shrink: .3;
    min-width: 139px;
    min-height: 78px;
}

.minor-thumbnail {
    min-width: 139px;
    min-height: 78px;
    aspect-ratio: 16 / 9;
    height: auto;
    width: 100%;
 }

 /* Categories */

 .minor-category {
    color: white;
    font-size: 20px;
 }

 .major-category {
    color: white;
    font-size: 50px;
 }