/* 
CSS Reset 
------------------------------------------------------------------------
The idea is to reset the default styling set by individual browsers, 
establishing a default display on all browsers and allowing us to work 
from complete scratch rather than fighting with the defaults.
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease; 
}

/* Style sheet */
body {
    width: auto;
    height: auto;
    padding-bottom: 50px;
    display: inline-block;
    background: center linear-gradient(90deg, hsl(240, 20%, 25%) -90%, hsl(240, 20%, 5%) 49%, hsl(240, 20%, 25%) 190%);
}

.nav-bar {
    background-color: rgb(37, 38, 51);
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-radius: 0px 0px 10px 10px;
    position: fixed;
    left: 20px;
    right: 20px;
    z-index: 10;
}

/* Splash Screen */
.splash-screen-img-properties {
    object-fit: cover;
    object-position: 50% 60%;
    max-height: 650px;
    width: 100%;
    aspect-ratio: 16 / 10;
    flex-grow: 3;
    flex-shrink: .3;
    min-width: 139px;
    min-height: 78px;
    z-index: 0;
}

.splash-screen-container {
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    height: 0px;
    width: 0px;
    padding-bottom: 0px
}

.gradient-img {
    grid-area: 1 / 1;
}

.splash-screen-txt{
    color: aliceblue;
    text-align: left;
    font-size: 25px;
    width: 350px;
    transform: translate(20px, -130px);
    grid-area: 1 / 1;
}

.splash-PlayVideo {
    transform: auto;
    transform: translate(20px, -150px);
    grid-area: 1 / 1;
    padding: 10px 0px 10px 0px;
    background-color: rgb(124, 132, 150);
    margin-top: 30px;
}

.splash-button {
    color: rgb(255, 255, 255);
    padding: 10px 50px 10px 50px;
    font-size: 20px;
}

.splash-PlayVideo:hover {
    background-color: rgba(255, 255, 255, 1);
}

.splash-button:hover {
    color: black;
    border: 1px solid white;
}


/* Body */
#wrapper {
    padding-left:20px;
    padding-right: 20px;
    margin: auto;
}

.scroll-bar{
    overflow-y: 400px;
}

.title {
    color: rgba(232, 240, 240, 1);
    padding: 20px;
    font-size: 25px;
}

.service-request {
    color: rgba(232, 240, 240, 1);
    background-color: rgba(232, 240, 255, 0.3);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.service-request:hover {
    background-color: rgba(232, 240, 240, 0.5);
    color: black;
    transform: scale(1.1);
}

a {
    color: rgba(232, 240, 240, 1)
}

a:hover {
    color: black;
}

.logo {
    max-width: 95px;
    max-height: 60px;
    min-width: 95px;
    min-height: 60px;
}

.spacer {
    margin-left: 10px;
    margin-right: 10px;
}

/* Major Thumbnails */
.thumbnailMajor {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: auto;
}

.thumbnailMajor-box {
    aspect-ratio: 16 / 9;
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
    flex-grow: 3;
    flex-shrink: .3;
    min-width: 300px;
    min-height: 169px;
    cursor: pointer; 
}

.major-thumbnail {
   min-width: 300px;
   min-height: 169px;
   aspect-ratio: 16 / 9;
   height: auto;
   width: 100%;
   border-radius: 10px;
   cursor: pointer; 
}

.major-thumbnail:hover {
    transform: scale(1.02); 
    border: 1px solid rgb(255, 255, 255);
}

/* Minor Thumbnails */
.thumbnailMinorRow {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: auto;
}

.minor-thumbnail {
    min-width: 139px;
    min-height: 78px;
    aspect-ratio: 16 / 9;
    height: auto;
    width: 100%;
    border-radius: 10px;
 }

 .thumbnailMinor-box {
    aspect-ratio: 16 / 9;
    margin: 0px 0px 10px 0px;
    border-radius: 10px;
    flex-grow: 3;
    flex-shrink: .3;
    min-width: 139px;
    min-height: 78px; 
}

.minor-thumbnail:hover {
    transform: scale(1.1);
    border: 1px solid rgb(255, 255, 255);
}

 /* Categories */
 .minor-category {
    color: white;
    font-size: 20px;
 }

 .major-category {
    color: white;
    font-size: 35px;
    padding-top: 5px;
 }